langchain==0.2.1
langchain_google_vertexai
langchain_community
unstructured[all-docs]
python-dotenv
opencv-python
pyaudio
pillow
openai-whisper
faster_whisper
sox
SpeechRecognition
pygame
ane_transformers
coremltools
pyowm
exa_py
rich
onnxruntime==1.15
onnx==1.15